In [1]:
from MariaDbQueryManager import MariaDbQueryManager

In [2]:
mariadb_query_manager = MariaDbQueryManager(host='', port=3306, username='', password='', default_database='')

In [3]:
test_df = mariadb_query_manager.get_dataframe('daily_prices')
test_df

,code,date,week_number,open_price,high_price,low_price,close_price,average_price,price_changed,percent_changed_price,volume,amount
1,005930,2013-06-28,2013-26,1350000,1350000,1329000,1342000,1341101.77,3000,0.22,419225,562223390000
2,005930,2013-07-01,2013-27,1334000,1346000,1322000,1326000,1334422.01,-16000,-1.19,256519,342304600000
3,005930,2013-07-02,2013-27,1340000,1352000,1330000,1335000,1337344.01,9000,0.68,204289,273204670000
4,005930,2013-07-03,2013-27,1334000,1339000,1295000,1301000,1311314.92,-34000,-2.55,256441,336274910000
5,005930,2013-07-04,2013-27,1302000,1317000,1296000,1317000,1305852.54,16000,1.23,180853,236167350000
...,...,...,...,...,...,...,...,...,...,...,...,...
3996,017670,2021-08-09,2021-32,305000,305500,301000,302000,302223.03,-3500,-1.15,127992,38682130000
3997,017670,2021-08-10,2021-32,302500,305000,300500,302500,302073.44,500,0.17,121272,36633050000
3998,017670,2021-08-11,2021-32,304000,305500,292000,293500,296490.33,-9000,-2.98,325250,96433480000
3999,017670,2021-08-12,2021-32,307500,313000,301500,312500,309713.04,19000,6.47,687632,212968600000
4000,017670,2021-08-13,2021-32,313500,313500,305000,306000,307675.06,-6500,-2.08,277943,85516130000

In [4]:
mariadb_query_manager.insert_dataframe(test_df, 'test')

In [5]:
mariadb_query_manager.execute_then_fetch_sql('SELECT COUNT(0) FROM `test`')

(('COUNT(0)',), (4000,))

In [6]:
mariadb_query_manager.execute_sql('ALTER TABLE `test` MODIFY `code` VARCHAR(8)')

4000

In [7]:
mariadb_query_manager.execute_then_fetch_sql('DESCRIBE `test`')

(('Field', 'Type', 'Null', 'Key', 'Default', 'Extra'),
 ('code', 'varchar(8)', 'YES', '', None, ''),
 ('date', 'text', 'YES', '', None, ''),
 ('week_number', 'text', 'YES', '', None, ''),
 ('open_price', 'text', 'YES', '', None, ''),
 ('high_price', 'text', 'YES', '', None, ''),
 ('low_price', 'text', 'YES', '', None, ''),
 ('close_price', 'text', 'YES', '', None, ''),
 ('average_price', 'text', 'YES', '', None, ''),
 ('price_changed', 'text', 'YES', '', None, ''),
 ('percent_changed_price', 'text', 'YES', '', None, ''),
 ('volume', 'text', 'YES', '', None, ''),
 ('amount', 'text', 'YES', '', None, ''))

In [8]:
mariadb_query_manager.purge_table('test')